*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    cursor:pointer;
    font-family:sans-serif;
}
body{
    width:100%;
    min-height:100vh;
    background-color: black;

}
header{
    display:flex;
    justify-content: space-between;
    padding:15px 20px;
    color:white;

}